<!-- main section -->
<section class="container mx-auto max-w-full md:max-w-full">
  <!-- section navbar include section hero -->
  <%- include('include/_nav.ejs') %>

  <!-- section about -->
  <%- include('include/_about') %>

  <!-- section skills-->
  <%- include('include/_skills') %>

  <!-- section contact -->
  <%- include('include/_contact') %>
</section>

<!-- footer section -->
<%- include('include/_footer') %>
